.board {
  display: grid;
  gap: 8px;
  background-color: var(--board-background-color);
  padding: 16px;
  border-radius: var(--border-radius);
  width: fit-content;
  margin: 20px auto;
}

.cell {
  background-color: var(--cell-color);
  border-radius: var(--border-radius);
  min-width: 60px;
  min-height: 60px;
  aspect-ratio: 1 / 1;
  transition: background-color 0.3s ease;
}
